@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../src/Font/WEB/css/supreme.css');
@import url('../src/Font/WEB2/css/general-sans.css');

*{
  
  padding: 0;
  box-sizing: border-box;
  font-family: 'GeneralSans-Variable';
}

html{
  margin: 1.5rem;
  overflow-x: hidden;
  background: #141414;
}



/* colors
#141414 black
#EEF0F2 white
#EEC643 yellow */